# Dependencias
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variables de entorno (Seguridad)
.env
.env.production
.env.local

# IDEs y Editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Archivos del sistema
.DS_Store
Thumbs.db   